.main {
    margin: 10%;
}

.bio {
    text-align:center;
}
.projects {
    text-align:center;
}
.project-image {
    width: 200px;
    height: 100px;
}
.projects-gallery {
    display: flex;
    justify-content: space-evenly


}

.project {
    width: 25%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 2%
}